* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --small-font-size: 1vw;
    --medium-font-size:1.25vw;
    --heading-font-size:1.75vw;
    --large-font-size:2vw;
    --extreme-font-size:4vw;
    --width-between-img-text:3vh;
    --heading-text-padding:1.5vh;
    --small-font-size-mobile: 1.5vw;
    --medium-font-size-mobile:3vw;
    --large-font-size-mobile:4vw;
    --heading-font-size-mobile:3.5vw;
    --extreme-font-size-mobile:5vw;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
  }

.lenis.lenis-smooth {
scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.scroll-container {
    width:100vw;
}

.lenis.lenis-stopped {
overflow: hidden;
}

::-webkit-scrollbar {
    width:0;
}

p {
    font-size:var(--small-font-size);
}

h2 {
    font-weight:700;
    color:#6A6BF4;
    font-size:var(--heading-font-size);
}

body {
    background:white;
    font-family: 'Space Mono', sans-serif;
    overflow-x:hidden;
    text-transform:uppercase;
}

.navbar {
    width:100%;
    height:10vh;
    background:none;
    border: none;
    backdrop-filter: none;
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    padding:2vh 5vw;
    display:flex;
    justify-content: space-between;
    transition:background 0.3s ease-out, backdrop-filter 0.3s ease-in-out, border 0.3s ease;
}

.navbar.activated {
    background:white;
    border:1px solid white;
    backdrop-filter: none;
    transition:background 0.3s ease-out, backdrop-filter 0.3s ease-in-out, border 0.3s ease;
}

.menu-icon {
    display:flex;
    gap:1vw;
    align-items:center;
    justify-content:center;
}

.navbar img {
    height:100%;
}

.navbar .menu-icon > .img-icon {
    height:100%;
    display:inline-block;
}

.menu {
    position:fixed;
    z-index:-1;
    height:100vh;
    width:100%;
    background:white;
    top:0vh;
    left:0;
    padding: 0 5vw;
    transform:scaleY(0);
    transform-origin:top;
    pointer-events: none;
    transition:transform 0.5s ease;
    transition-delay: 0.2s;
    display:flex;
}

.menu .links {
    display:flex;
    gap:5vw;
}

.menu .options {
    border:none !important;
    position:relative;
}

.menu .nav-options {
    opacity:0;
    display:flex;
    flex-direction: column;
    pointer-events: none;
    position: absolute;
    top:15vh;
    left:5vw;
    gap:1.5vh;
    transition: opacity 0.3s ease-in-out;
}

.menu .options-activated {
    opacity:1;
    pointer-events: all;
    transition: opacity 0.3s ease-in-out;
}

.menu .categories, .menu .options {
    display:flex;
    flex-direction: column;
    padding:7.5vh 0;
    height:100%;
    padding-top:15vh;
    justify-content: space-between;
    border-right:2px solid black;
    width:max-content;
}

.navbar .text {
    width:max-content;
    height:var(--small-font-size);
    overflow:hidden;
}

.navbar .text p {
    font-size:var(--small-font-size);
    line-height:1;
}

.navbar .text p {
    transform:translateY(0%);
    transition:transform 0.3s ease;
}

.activated .text p {
    transform:translateY(-100%);
    transition:transform 0.3s ease;
}

.activated .menu {
    transform:scaleY(1);
    transform-origin:top;
    pointer-events: all;
    transition:transform 0.5s ease;
}

.activated .menu-icon > .img-icon img {
    transform:rotate(225deg) !important;
    transition:transform 0.5s ease;
}

.menu a {
    color:black;
    text-decoration: none;
    font-size:var(--extreme-font-size);
    margin-right:5vw;
    position:relative;
    width:max-content;
}

.menu .links {
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.menu a::before {
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.activated .menu .links {
    opacity:1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.activated .menu a::before {
    opacity:1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    transition-delay: 0.3s;
}

.menu a::before {
    content:'';
    position:absolute;
    width:100%;
    bottom:0;
    height:5px;
    left:0;
    background:black;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 0.3s ease;
}

.menu a:hover::before {
    transform:scaleX(1);
    transform-origin:left;
    transition:transform 0.3s ease;
}

.navbar .menu-icon > .img-icon img {
    transform:rotate(0deg);
    transition:transform 0.3s ease;
}

.navbar .menu-icon > .img-icon:hover > img {
    transform:rotate(45deg);
    transition:transform 0.3s ease;
}

.scroll-container {
    position:relative;
    z-index:2;
}

.footer {
    width:100%;
    padding:10vh 5vw;
}

.footer .supporters {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer .partners {
    display:flex;
    gap:5vw;
    align-items: center;
    justify-content: center;
    margin-top:3vh;
    margin-bottom:20vh;
}

.footer .final-info {
    display:flex;
    gap:1vw;
    justify-content: space-between;
}

.footer .back-to-top a img {
    transform:rotate(180deg)
}

.footer .copyright {
    width:40%;
    display:flex;
    flex-direction: column;
    gap:5vh;
}

.footer .socials, .footer .sitemap {
    display:flex;
    gap:1.5vw;
}

.footer .links {
    display:flex;
    flex-direction: column;
    gap:1vh;
}

.footer-link {
    position:relative;
    text-decoration:none;
    color:black;
    font-size:var(--small-font-size);
}

.hero {
    display:flex;
    width:100%;
    height:95vh;
    padding:5vh 3vw;
    padding-top:20vh;
}

.hero img {
    width:100%;
    height:70vh;
    object-fit: cover;
    object-position: top;
}

.image .effect-container {
    height:100%;
    width:100%;
    position:relative;
}

.image img {
    object-fit:cover;
    width:100%;
    height:100%;
}

.image .grid-effect {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 2;
    top:0;
    left:0;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.grid-effect div {
    background:#8651F4;
    opacity:1;
    transition:opacity 3s ease, background 3s ease-out;
}

.grid-effect div:hover {
    opacity:0.7 !important;
    background: #5184F5;
    transition:opacity 0.3s ease, background 0.3s ease-out;
}

.hero > div {
    height:100%;
    width:100%;
}

.hero h1 {
    font-size:var(--extreme-font-size);
    font-weight:400;
    line-height:1.1;
}

.hero .title-container {
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero .tag, .section a {
    font-size:var(--small-font-size);
    display: inline-block;
    padding:1vh 1vw;
    border:2px solid black;
    border-radius:1000px;
    margin-right:1vw;
    overflow:hidden;
    position:relative;
    z-index:3;
    color:black;
    text-decoration: none;
    transition:color 0.3s ease-in-out;
}

.hero .tag::before, .section a::before {
    position:absolute;
    width:100%;
    height:100%;
    background:black;
    bottom:0;
    left:0;
    content:'';
    transform:scaleY(0);
    transform-origin:bottom;
    transition:transform 0.3s ease;
    z-index:-1;
}

.hero .tag:hover::before, .section a:hover::before {
    transform:scaleY(1);
    transform-origin:bottom;
    z-index:-1;
    transition:transform 0.3s ease;
}

.hero .tag:hover, .section a:hover {
    color:white;
    transition:color 0.3s ease-in-out;
}

.hero .tags {
    width:100%;
}

.person img {
    width:100%;
}

.section {
    width:100%;
    padding:5vh 5vw;
}

.section p {
    line-height:1.6;
}

.introduction p {
    line-height:1.6;
}

.section mark {
    text-transform:lowercase;
    background:none;
}

.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, 550px);
    grid-column-gap:1vw;
    grid-row-gap:5vh;
    margin-top:3vh;
}

.grid img {
    height:70vh;
    object-fit: cover;
}

h3 {
    font-size:var(--medium-font-size);
}

.text h3 {
    font-weight:400;
}

.section.text {
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

.section h2 {
    margin-bottom:3vh;
}

.credits p {
    margin-top:3vh;
}

.cursor {
    width:1.5vw;
    height:1.5vw;
    background:#6A6BF4;
    border-radius:1000px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition:opacity 0.2s ease-in-out, background 0.2s ease-out, width 0.3s ease, height 0.3s ease;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cursor p {
    font-size:1.5vw;
    font-weight:700;
    color:#6A6BF4;
    transition: opacity 0.3s ease;
}

.blob {
    width:50vw;
    height:50vw;
    position:absolute;
    border-radius:100%;
    top:50%;
    left:50%;
    background:linear-gradient(
        to right,
        #8651F4,
        #5184F5
    );
    transform:translate(-50%, -50%);
    overflow:hidden;
    pointer-events: none;
    transition:background 0.2s ease-in-out, opacity 1s ease;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    opacity:0.2;
    animation: rotate 3s infinite linear;
}

.download p {
    margin-bottom:3vh;
}

.footer-link {
    width:max-content;
}

.footer-link::before {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background:black;
    transform:scaleX(0);
    transform-origin:right;
    transition:transform 0.3s ease;
}

.footer-link:hover::before {
    transform:scaleX(1);
    transform-origin:left;
    transition:transform 0.3s ease;
}

.footer .supporters a > img {
    transform:scale(1.0);
    transition:transform 1s ease;
}

.footer .supporters a:hover > img {
    transform:scale(1.03);
    transition:transform 1s ease;
}

@media (pointer:none), (pointer:coarse) {
    .cursor {
        display:none;
    }

    .blob {
        display:none;
    }

    .grid-effect {
        display:none !important;
    }
    
    .projects .instructions {
        display:block;
        margin-bottom:3vh;
    }
}

@media screen and (max-width:1300px) {
    .footer .final-info {
        flex-direction: column;
    }

    .final-info > div {
        width:100% !important;
    }

    .final-info p {
        width:100% !important;
    }

    .final-info > div:last-child {
        display:none;
    }

    .final-info .links {
        flex-direction: row !important;
        display:flex;
        gap:3vw;
    }

    .footer .final-info .socials, .footer .final-info .sitemap {
        flex-direction: column;
        gap:1vh !important;
        align-items: normal;
        margin-top:3vh;
    }

    .projects .view-more-projects-container p {
        display: none;
    }

    .apply .caption {
        width:100% !important;
    }

    .apply .caption p {
        width:100%;
    }

    .footer .partners {
        margin-bottom:0
    }

    .footer {
        padding-top:5vh;
    }

    .footer-link {
        font-size:var(--small-font-size-mobile);
    }

}

@media screen and (max-width:1000px) {
    .grid {
        display:flex;
        flex-direction: column;
    }

    .navbar .text p {
        font-size:var(--medium-font-size-mobile);
    }

    .grid .person {
        width:100%;
    }

    .person img {
        height:60vh;
    }

    .person h3 {
        font-size:var(--medium-font-size-mobile);
    }

    h2 {
        font-size:var(--heading-font-size-mobile);
    }

    .credits h3 {
        font-size:var(--medium-font-size-mobile);
    }

    .download a {
        font-size:var(--small-font-size-mobile);
        padding:1vh 2vw;
    }

    .hero {
        flex-direction: column;
        gap:1vh;
        height:max-content;
    }

    .hero h1 {
        font-size:7vw;
        margin-bottom:3vh;
    }

    .hero .tags {
        width:100%;
    }

    .hero .title-container {
        width:100%;
    }

    .content .section:first-child {
        padding-top:0;
    }

    .download p {
        font-size:var(--medium-font-size-mobile);
    }

    .hero .tags .tag, .section a {
        font-size:var(--medium-font-size-mobile);
        padding:0.5vh 3vw;
    }

    .hero .effect-container {
        height:50vh;
    }

    .navbar .text {
        height:var(--medium-font-size-mobile);
    }

    .footer .partners {
        margin-bottom:0
    }

    .footer {
        padding-top:5vh;
    }

    .projects div a, .contacts a {
        padding:0.5vh 2vw;
    }

    .supporters .partners {
        flex-direction: column !important;
        gap:1.5vh;
    }

    .footer .links {
        flex-wrap: wrap;
    }

    .footer .final-info .socials, .footer .final-info .sitemap {
        flex-direction: column;
        gap:1vh !important;
        align-items: normal;
    }

    .footer-link, .project p {
        font-size:var(--medium-font-size-mobile);
    }

    .footer p {
        font-size: var(--medium-font-size-mobile);
    }

    .footer h2 {
        font-size:var(--large-font-size-mobile);
    }

    .final-info {
        margin-top:var(--heading-text-padding);
    }

    .project .more-info {
        align-items: center;
    }

    .cohort .ascii {
        font-size:var(--small-font-size);
    }

    .menu a {
        font-size:var(--extreme-font-size-mobile);
    }

    p {
        font-size: var(--medium-font-size-mobile);
    }

    .footer .supporters a > img {
        width:60%;
    }
}