.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("Supercomputer.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
}

.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero a {
    z-index:2;
}

.hero a::before {
    z-index:-1;
    background:white;
}

.apply {
    padding:15vh 5vw;
}

.apply .text {
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

.apply .text p {
    text-align: left !important;
}

.apply .image .effect-container {
    height:100vh;
}

.apply .image {
    transform:translateY(15vh);
}

.apply .text p:last-child {
    padding-bottom:5vh;
    border-bottom: 2px solid black;
}

.how {
    padding:10vh 5vw;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

.how .main-text {
    font-size:2em;
    width:80%;
}

.project:nth-child(1) {
    background:url('ozstar.jpg');
    background-position: 100% center;
    background-size:200%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(2) {
    background:url('parkes.jpg');
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(3) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("research.jpg");
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(4) {
    background-image:url("code.png");
    background-position: 100% center;
    background-size:175%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(5) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("leadership.jpg");
    background-position: 100% center;
    background-size:175%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(6) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("maths.jpg");
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project h1 {
    font-size:4vw;
}

.scroll-container > h2 {
    margin-bottom:3vh;
    text-align:left;
    margin-left:5vw;
}

.services {
    margin-top:30vh;
}

.how .more-info {
    margin-left:15vw;
    width:50%;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
    margin-top:3vh;
}

.astronomy {
    padding:10vh 10vw;
}

.astronomy p {
    font-size:2em;
    text-align: center;
}

.projects-mobile {
    display:none;
}

.projects {
    display:block;
}

@media screen and (max-width:1710px) {
    .projects {
        display:none;
    }

    .projects-mobile {
        display:block;
        width:100%;
        display:flex;
        flex-direction: column;
        padding:3vh 2.5vw;
        gap:1vh;
    }

    .projects-mobile .project {
        width:100%;
        height:50vh;
        background-size:cover !important;
        background-position: center !important;
    }
}

@media screen and (max-width:1300px) {
    .apply .text p {
        font-size:3vw !important;
    }

    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:13vw;
    }

    .apply .image {
        transform:translate(0);
    }

    .apply .text p {
        margin-left:0 !important;
        width:100%;
    }

    .how p {
        width:100% !important;
    }

    .how .more-info {
        width:80% !important;
    }

    .services a p {
        font-size:1em;
    }

    .cohort-title h2 {
        font-size:3em;
    }

    .cohort {
        padding-top:5vh;
        padding-bottom:10vh;
    }

    .services {
        margin-top:0;
    }

    .footer {
        padding-top:0;
    }

    .astronomy {
        padding-top:5vh;
    }

    .how {
        padding-top:5vh;
        padding-bottom:5vh;
    }

    .apply {
        padding-bottom:5vh;
    }
}