.navbar .menu-icon {
    background:#6A6BF4 !important;
}

.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("Supercomputer.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vh;
    padding-bottom:5vh;
}

.hero .introduction {
    position:absolute;
    top:5vh;
    left:50%;
    transform:translateX(-50%);
}

.hero .vision {
    padding-top:20vh;
    padding-left:55vw;
    padding-right:8vw;
}

.hero h1 {
    font-size:9vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:7vw;
}

.hero a {
    position:relative;
    overflow:hidden;
    display:inline-block;
    border-radius:100%;
    width:max-content;
    aspect-ratio:1/1;
    margin-bottom:3vh;
}


.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero a {
    z-index:2;
}

.hero a::before {
    z-index:-1;
    background:white;
}

.apply {
    padding:15vh 5vw;
}

.apply .text {
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

.apply .text p {
    text-align: left !important;
    letter-spacing: -1px;
}

.apply .image .effect-container {
    height:100%;
}

.apply .text p:last-child {
    padding-bottom:5vh;
    border-bottom: 2px solid black;
}

.how {
    padding:10vh 5vw;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

.how .main-text {
    font-size:var(--large-font-size);
    width:100%;
}

.project:nth-child(1) {
    background:url('ozstar.jpg');
    background-position: 100% center;
    background-size:200%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(2) {
    background:url('parkes.jpg');
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(3) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("research.jpg");
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(4) {
    background-image:url("code.png");
    background-position: 100% center;
    background-size:175%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(5) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("leadership.jpg");
    background-position: 100% center;
    background-size:175%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project:nth-child(6) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("maths.jpg");
    background-position: 100% center;
    background-size:150%;
    background-repeat: no-repeat;
    height:90vh;
    width:100vw;
}

.project h1 {
    font-size:var(--extreme-font-size);
}

.scroll-container > h2 {
    margin-bottom:3vh;
    text-align:left;
    margin-left:5vw;
}

.services {
    margin-top:30vh;
}

.how .more-info {
    width:100%;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
    margin-top:3vh;
}

.projects-mobile {
    display:none;
}

.projects {
    display:block;
}

.footer {
    padding-top:0;
}

@media screen and (max-width:1710px) {
    .projects {
        display:none;
    }

    .projects-mobile {
        display:block;
        width:100%;
        display:flex;
        flex-direction: column;
        padding:3vh 2.5vw;
        gap:1vh;
    }

    .projects-mobile .project {
        width:100%;
        height:30vh;
        background-size:cover !important;
        background-position: center !important;
        padding:2vh 2.5vw;
    }
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
        height:70vh;
    }

    .hero h1 {
        font-size:14vw;
    }
}

@media screen and (max-width:1000px) {
    .apply .image {
        transform:translate(0);
    }

    .apply .text p {
        margin-left:0 !important;
        width:100%;
        font-size:var(--small-font-size);
        letter-spacing: 0;
    }

    .how p {
        width:100% !important;
    }

    .how .more-info {
        width:100% !important;
    }

    .apply, .how, .scroll-container > h2, .services, .cohort, .footer, .services h2 {
        padding-top:7.5vh;
        margin-top:0;
        margin-bottom:0;
        padding-bottom:0;
    }

    .footer {
        padding-bottom:5vh;
    }

    .services h2 {
        margin-bottom:1vh;
    }
}
