.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("telescope.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.hero h1 {
    font-size:9vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:7vw;
}

.hero a {
    display:inline-block;
    margin-bottom:3vh;
    aspect-ratio:1/1;
}

.apply-section {
    display:flex;
    flex-direction: column;
    gap:3vh;
    width:100%;
    padding:0 10vw;
}

.apply-section .section {
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

form input {
    outline:none;
    border:2px solid black;
    font-family: 'Space Mono', sans-serif;
    font-weight:400;
    text-transform:initial;
    background:none;
    padding:1.5vh 1vw;
    font-size:1.25em;
}

.scroll-container > h2 {
    margin-top:10vh;
    text-align:center
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:13vw;
    }

    .footer {
        padding-top:0;
    }
}