.navbar .menu-icon {
    background:#6A6BF4 !important;
}

.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("telescope.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vh;
    padding-bottom:5vh;
}

.hero h1 {
    font-size:7vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:6vw;
}

.hero a {
    position:relative;
    overflow:hidden;
    display:inline-block;
    border-radius:100%;
    width:max-content;
    aspect-ratio:1/1;
    margin-bottom:1vh;
}


.apply-section {
    display:flex;
    flex-direction: column;
    gap:3vh;
    width:100%;
    padding:0 10vw;
    padding-top:3vh;
}

.apply-section .section {
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}

form input {
    outline:none;
    border:2px solid black;
    font-family: 'Space Mono', sans-serif;
    font-weight:400;
    text-transform:initial;
    background:none;
    padding:1.5vh 1vw;
    font-size:1.25em;
}

.scroll-container > h2 {
    margin-top:10vh;
    text-align:center
}

.apply-section a {
    text-decoration: none;
    overflow:hidden;
    color: black;
    border: 2px solid black;
    border-radius: 1000px;
    padding:1vh 1.5vw;
    font-size:var(--ascii-font-size);
    position:relative;
    transition: color 0.3s ease-in-out;
    width:max-content;
}

.apply-section a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    z-index:-1;
    transform:scaleY(0);
    transition: transform 0.3s ease;
    transform-origin:bottom;
}

.apply-section a:hover::before {
    transform:scaleY(1);
    transition: transform 0.3s ease;
    transform-origin:bottom;
}

.apply-section a:hover {
    color:white;
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:13vw;
    }

    .footer {
        padding-top:0;
    }
}