.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("team.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
}


.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("team.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.hero h1 {
    font-size:10vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:8vw;
}

.hero a {
    display:inline-block;
    margin-bottom:3vh;
    aspect-ratio:1/1;
}
.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding:10vh 1vw;
    grid-column-gap:1vw;
    grid-row-gap:1vh;
}

.team .person:nth-child(1) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('rudra.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(2) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('hendrik_copy.png');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(3) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('evie.JPG');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(4) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('rebecca.png');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .special {
    font-style: italic;
}

.team .person:nth-child(5) {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url('robert.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person div {
    overflow:hidden;
    display:block;
}

.team .person h1, .team .person p {
    transform:translateY(100%);
    transition:transform 0.3s ease;
}

.team .person:hover > div h1 {
    transform:translateY(0);
    transition:transform 0.3s ease;
}

.team .person:hover > div p {
    transform:translateY(0);
    transition:transform 0.3s ease;
    transition-delay:0.05s;
}

.team .person:hover {
    background-size:105%;
    transition:background-size 1s ease;
}

.scroll-container > h2 {
    margin-top:10vh;
    text-align:center
}

@media screen and (max-width:1710px) {
    .person {
        background-size:cover !important;
    }

    .team .person h1, .team .person p {
        transform:translateY(0%);
        transition:transform 0.3s ease;
    }
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:14vw;
    }

    .footer {
        padding-top:5vh;
    }

    .person {
        padding:3vh 5vw !important;
        height:70vh !important;
    }

    .person h1 {
        font-size:var(--large-font-size-mobile) !important;
    }

    .person p {
        font-size:var(--medium-font-size-mobile);
    }

    .team {
        padding-top:3vh;
        padding-bottom:0;
    }

    .scroll-container > h2 {
        margin-top:7vh;
    }

    .footer {
        padding-top:7vh;
    }
}

@media screen and (max-height:800px) {
    .person {
        height:150vh !important;
    }
}

@media screen and (max-height:500px) {
    .person {
        height:200vh !important;
    }
}

@media screen and (min-height:1050px) {
    .person {
        background-size:cover !important;
    }
}