.navbar .menu-icon {
    background:#6A6BF4 !important;
}

.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("parkes.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vw;
    padding-bottom:5vh;
}

h2 {
    margin-bottom:3vh;
}

.hero h1 {
    font-size:7vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:6vw;
}

.hero a {
    position:relative;
    overflow:hidden;
    display:inline-block;
    border-radius:100%;
    width:max-content;
    aspect-ratio:1/1;
    margin-bottom:1vh;
}

.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero a {
    z-index:2;
}

.hero a::before {
    z-index:-1;
    background:white;
}

.footer {
    padding-top:3vh;
}

.panel a p {
    margin:0 !important;
}

.round-button {
    margin-top:3vh;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding:1vh 1.5vw;
    border-radius: 1000px;
    border: 2px solid black;
    font-size: var(--small-font-size);
    width:max-content;
    transition: background 0.3s ease, color 0.3s ease-in-out;
}

.round-button:hover {
    color:white;
    background:black;
    transition: background 0.3s ease, color 0.3s ease-in-out;
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:14vw;
    }

    .footer {
        padding-top:0;
    }

    .services {
        padding-top:7vh !important;
        padding-bottom:0;
    }

    .footer {
        padding-top:7vh;
    }

    .services h2 {
        margin-bottom:1vh;
    }
}