.menu-icon {
    display:flex;
    gap:1vw;
    align-items:center;
    justify-content:center;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    height:100%;
    padding: 1vh 1vw;
    transform:translateY(-1vh);
    border-radius:0.5vw;
    transition: background 0.5s ease;
}

.navbar img {
    height:6vh;
}

.navbar .menu-icon > .img-icon {
    height:100%;
    display:inline-block;
}

.menu {
    position:fixed;
    z-index:-1;
    height:100vh;
    width:100%;
    background:white;
    top:0vh;
    left:0;
    padding: 0 5vw;
    transform:scaleY(0);
    transform-origin:top;
    pointer-events: none;
    transition:transform 0.5s ease;
    transition-delay: 0.2s;
    display:flex;
}

.menu .links {
    display:flex;
    gap:5vw;
}

.menu .options {
    border:none !important;
    position:relative;
}

.menu .nav-options {
    opacity:0;
    display:flex;
    flex-direction: column;
    pointer-events: none;
    position: absolute;
    top:15vh;
    left:5vw;
    gap:1.5vh;
    transition: opacity 0.3s ease-in-out;
}

.menu .options-activated {
    opacity:1;
    pointer-events: all;
    transition: opacity 0.3s ease-in-out;
}

.menu .categories, .menu .options {
    display:flex;
    flex-direction: column;
    padding:7.5vh 0;
    height:100%;
    padding-top:15vh;
    justify-content: space-between;
    border-right:2px solid black;
    width:max-content;
}

.navbar .text {
    width:max-content;
    height:var(--ascii-font-size);
    overflow:hidden;
    color:white;
}

.navbar .purple {
    background: #6A6BF4;
    transition: color 0.5s ease;
}

.navbar .text p {
    font-size:var(--ascii-font-size);
    line-height:1;
}

.navbar .text p {
    transform:translateY(0%);
    transition:transform 0.3s ease;
}

.activated .text p {
    transform:translateY(-100%);
    transition:transform 0.3s ease;
}

.activated .menu {
    transform:scaleY(1);
    transform-origin:top;
    pointer-events: all;
    transition:transform 0.5s ease;
}

.activated .menu-icon > .img-icon img {
    transform:rotate(225deg) !important;
    transition:transform 0.5s ease;
}

.menu a {
    color:black;
    text-decoration: none;
    font-size:3vw;
    margin-right:5vw;
    position:relative;
    width:max-content;
}

.menu .links {
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.menu a::before {
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.activated .menu .links {
    opacity:1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.activated .menu a::before {
    opacity:1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    transition-delay: 0.3s;
}

.menu a::before {
    content:'';
    position:absolute;
    width:100%;
    bottom:0;
    height:5px;
    left:0;
    background:black;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 0.3s ease;
}

.menu a:hover::before {
    transform:scaleX(1);
    transform-origin:left;
    transition:transform 0.3s ease;
}