.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("ns.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vw;
    padding-bottom:5vh;
}

.contact-info {
    width: 80vw;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
    margin-top:3vh;
    margin-left: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align:left;
}

.round-button {
    margin-top:1.5vh;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding:1vh 1.5vw;
    border-radius: 1000px;
    border: 2px solid black;
    font-size: var(--small-font-size);
    width:max-content;
    transition: background 0.3s ease, color 0.3s ease-in-out;
}

.round-button:hover {
    color:white;
    background:black;
    transition: background 0.3s ease, color 0.3s ease-in-out;
}

/* .panel div > p {
    margin:1.5vh 0 !important;
} */