.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("ns.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vw;
    padding-bottom:5vh;
}

.contact-info {
    display:flex;
    flex-direction: column;
    gap:3vh;
    width:100%;
    padding:0 10vw;
    padding-top:3vh;
}
/* .panel div > p {
    margin:1.5vh 0 !important;
} */