.navbar .menu-icon {
    background:#6A6BF4 !important;
}

.hero {
    height:90vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("team.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 5vw;
    padding-bottom:5vh;
}

.hero h1 {
    font-size:7vw;
    font-weight:400;
    line-height:1;
    letter-spacing:-5px;
    margin-top:10vh;
}

.hero .title-container {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    width:90vw;
}

.hero a img {
    height:6vw;
}

.hero a {
    position:relative;
    overflow:hidden;
    display:inline-block;
    border-radius:100%;
    width:max-content;
    aspect-ratio:1/1;
    margin-bottom:1vh;
}

.navbar {
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
}

.hero a {
    z-index:2;
    margin-bottom:1.5vh;
}

.hero a::before {
    z-index:-1;
    background:white;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding:10vh 1vw;
    grid-column-gap:1vw;
    grid-row-gap:1vh;
}

.team .person:nth-child(1) {
    background:url('mbailes.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(2) {
    background:url('cflynn.png');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(3) {
    background:url('saurav.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(4) {
    background:url('astrokirsten.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(5) {
    background:url('rudra.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(6) {
    background:url('emma-carli.png');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(7) {
    background:url('astral-website.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person:nth-child(8) {
    background:url('ajaini.jpg');
    background-repeat: no-repeat;
    height:70vh;
    background-position: center;
    background-size:100%;
    color:white;
    padding:3vh 1vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transition:background-size 1s ease;
}

.team .person div {
    overflow:hidden;
    display:block;
}

.team .person h1 {
    font-size:var(--large-font-size);
}

.team .person p {
    font-size:var(--small-font-size);
}

.team .person h1, .team .person p {
    transform:translateY(100%);
    transition:transform 0.3s ease;
}

.team .person:hover > div h1 {
    transform:translateY(0);
    transition:transform 0.3s ease;
}

.team .person:hover > div p {
    transform:translateY(0);
    transition:transform 0.3s ease;
    transition-delay:0.05s;
}

.team .person:hover {
    background-size:105%;
    transition:background-size 1s ease;
}

.cflynn, .mbailes, .smishra, .ajaini {
    position:fixed;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%) scale(0.95);
    z-index:3;
    padding:15vh 10vw;
    background:rgba(255,255,255,0.6);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255,255,255,0.15);
    width:90vw;
    border-radius:1vw;
    display:flex;
    flex-direction: column;
    gap:5vh;
    opacity:0;
    transition:transform 0.5s ease, opacity 0.3s ease-in-out;
    pointer-events: none;
    transition-delay: 0.1s;
}

.card-activated {
    opacity:1;
    transform:translate(-50%, -50%) scale(1);
    pointer-events: all;
    transition:transform 0.5s ease, opacity 0.3s ease-in-out;
}

.cflynn .summary p, .mbailes .summary p, .smishra .summary p, .ajaini .summary p {
    font-size:var(--large-font-size);
}

.cflynn p b, .mbailes p b, .smishra p b, .ajaini p b {
    color:#6A6BF4;
}

.cflynn p, .mbailes p, .smishra p, .ajaini p {
    transform:translateY(5vh);
    transition:transform 0.3s ease, opacity 0.3s ease-in-out;
    opacity:0;
}

.card-activated p {
    transform:translateY(0vh);
    transition:transform 0.3s ease, opacity 0.3s ease-in-out;
    opacity:1;
    transition-delay: 0.1s;
}

.cflynn > p, .mbailes > p, .smishra > p, .ajaini > p {
    font-size:var(--small-font-size);
}

.cflynn .cross, .mbailes .cross, .smishra .cross, .ajaini .cross {
    position:absolute;
    right:3vw;
    top:5vh;
}

.cflynn .cross img, .mbailes .cross img, .smishra .cross img, .ajaini .cross img {
    width:2vw;
}

.scroll-container > h2 {
    margin-top:10vh;
    text-align:center
}

.instructions {
    text-align: center;
    display:none;
}

@media (pointer:none), (pointer:coarse) {
    .team .person h1, .team .person p {
        transform:translateY(0%);
        transition:transform 0.3s ease;
    }

    .instructions {
        display:block;
        font-size:var(--large-font-size-mobile);
    }
}

@media screen and (max-height:800px) {
    .cflynn, .mbailes, .smishra, .ajaini {
        padding:10vh 10vw;
    }
}

@media screen and (max-width:1710px) {
    .person {
        background-size:cover !important;
    }

    .team {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .team .person {
        height:60vh !important;
    }
}

@media screen and (max-width:1300px) {
    .hero a {
        margin-bottom:0;
        display:none;
    }
    .hero {
        background-size:cover !important;
        height:70vh;
    }

    .cflynn, .mbailes, .smishra, .ajaini {
        padding:7vh 10vw;
    }
}

@media screen and (max-width:1000px) {
    .hero h1 {
        font-size:14vw;
    }

    .footer {
        padding-top:0;
    }

    .cflynn .cross img, .mbailes .cross img, .smishra .cross img, .ajaini .cross img {
        width:5vw;
    }

    .cflynn .cross, .mbailes .cross, .smishra .cross, .ajaini .cross {
        right:5vw;
    }

    .summary p {
        font-size: var(--medium-font-size) !important;
    }

    .team {
        padding-top:3vh;
        padding-bottom:0;
    }

    .scroll-container > h2 {
        margin-top:7vh;
    }

    .footer {
        padding-top:7vh;
    }

    .cflynn > p, .mbailes > p, .saurav > p, .ajaini > p {
        font-size:var(--ascii-font-size) !important;
    }
}

@media screen and (max-height:500px) {
    .person {
        height:200vh !important;
    }
}
